<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Formulário de Usuários</h1>
        <form [formGroup]="userForm">
            <div class="w-100 d-flex justify-content-between my-4">
                <div class="form-floating mb-3 w-45">
                    <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="digite o seu nome">
                    <label for="nome">Nome</label>
                </div>
                <div class="form-floating w-45">
                    <input type="text" class="form-control" formControlName="sobrenome" id="sobrenome" placeholder="digite o seu sobrenome">
                    <label for="sobrenome">Sobrenome</label>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-between my-4">
                <div class="form-floating mb-3 w-45">
                    <input type="text" class="form-control" formControlName="idade" id="idade" placeholder="digite a sua idade">
                    <label for="idade">Idade</label>
                </div>
                <div class="form-floating w-45">
                    <input type="text" class="form-control" formControlName="profissao" id="profissao" placeholder="digite a sua profissao">
                    <label for="profissao">Profissao</label>
                </div>
            </div>
            <div class="row my-4">
                <div class="form-group col-12 mt-4">
                    <button type="button" class="btn btn-outline-danger float-start" routerLink="/">Cancelar</button>
                    <button type="button" class="btn btn-outline-success float-end" (click)="actionButton()">Enviar</button>
                </div>

            </div>

        </form>
    </div>
</div>