<div class="form-group">
    <label for="number">Number:</label>
    <input type="text" class="form-control" [(ngModel)]="number" id="number">
    <p>{{number}}</p>
    <button class="btn btn-success" (click)="mudaValor()">muda valor</button>
</div>

<div class="">
    <!--<p>SLICE {{ text | slice: 3:8 }}</p>-->

    <p>Sem formatação</p>
    <p>{{number | number}}</p>
    
    <p>Resultado com formatação</p>
    <p>{{number | number:'2.0-1'}}</p>

    <p>Resultado em moeda</p>
    <p>{{number | currency: 'BRL'}}</p>

    <p>Resultado em porcentagem</p>
    <p>{{number | percent}}</p>

    <p>Data de hoje</p>
    <p>{{date}}</p>
    <p>{{date | date}}</p>
    <p>Data formatada: {{date | date: 'dd/MM/yyyy':'GMT-0300':'en-US'}}</p>
    <p>{{date | date: 'full' | uppercase}}</p>
    <p>{{text | uppercase}}</p>

    <p>{{pessoa | json}}</p>
</div>
<div class="container">
    <div class="col">
        <div class="row-6">
            <div class="form-group">
                <label for="text">Print Pipe Test:</label>
                <input type="text" name="text" id="text" #nome>
                <button class="btn btn-primary" (click)="add(nome.value)">add</button>
            </div>
        </div>
        <div class="row-6">
            <h3>Lista formatada</h3>
            <p>Tamanho da lista {{nomes.length}}</p>
            <p>{{ nomes | printList}}</p>
        </div>
    </div>
</div>